
<style>
  .device{
    color: rgb(0, 0, 0);
    text-decoration: none; 
    font-size: 40;
    font-variant: small-caps;
  }
  .device:hover{
    color: rgb(58, 39, 39);
    text-shadow: 0px 2px 2px rgb(8, 1, 14);
    

  }

</style>
<mat-toolbar>
    
    <a routerLink="/devices" style="flex: 1 1 auto;" class="device">devices</a>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        Menu
      </button>
      
      <mat-menu #menu="matMenu">
      
        
        <button  *ngIf="isAdmin" mat-menu-item routerLink="/admin">
            <mat-icon>dashboard</mat-icon>
            <span>{{dashboardname}}</span>
          </button>

          <button  *ngIf="isadminurl()" mat-menu-item routerLink="/devices">
            <mat-icon>dashboard</mat-icon>
            <span>devices</span>
          </button>
          
        <button mat-menu-item (click)="Logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      
  </mat-toolbar>