


 <app-menu></app-menu>


<main class="main">


      <div class="contener" >
        <mat-toolbar class="table-admin-h">
                   <span  style="flex: 1 1 auto;" >users</span>
                   <div style="padding-top:15px;"  >
          <mat-form-field appearance="outline" >
            <mat-label  class="filter">Filter by State</mat-label>

            <mat-select  class="filter-box" panelClass="state-select-panel"  (selectionChange)="filterByState($event.value)">
              <mat-option  value="All">All</mat-option>
              <mat-option value="approved">APPROVED</mat-option>
              <mat-option  value="pending" >PENDING</mat-option>
              <mat-option  value="rejected" >REJECTED</mat-option>
            </mat-select>

          </mat-form-field>
        </div>


        </mat-toolbar>
        <div class="mat-elevation-z8" style="overflow: auto;">
            <table mat-table [dataSource]="dataSource" class="table-admin">

              <div>



              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> username</th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> state </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>


              <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef> Action </th>

                <td mat-cell *matCellDef="let element" >
              <div *ngIf="element.type!=='admin'; else elseBlock" style="display: flex;gap:1px;">

                <button
                mat-raised-button
                class="action-btn"
                [ngClass]="element.status === 'approved'?'btn-approved':'btn-approve'"
                [disabled]="element.status === 'approved'"
                (click)="setstate(element._id, 'approved')"
                style="width: 100px;"
                >

                {{ element.status === 'approved' ? 'Approved' : 'Approve ' }}
              </button>

              <button

                mat-raised-button
                class="action-btn"

                style="width: 100px;"
                [ngClass]="element.status === 'rejected'?'btn-rejected':'btn-reject'"
                [disabled]="element.status === 'rejected'"
                (click)="setstate(element._id, 'rejected')">
                {{ element.status === 'rejected' ? 'Rejected' : 'Reject  ' }}
              </button>
              </div>
              <ng-template #elseBlock>
                <div class="badge bg-primary text-wrap" style="width: 10rem;font-size:20px;">
                  root user
                </div>
              </ng-template>


                </td>
                <td #elseActionBlock>
                  <div>root</div>
                </td>


              </ng-container>
            </div>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator  class="table-admin-h"   [length]="totalRecords"  [pageSize]="pageSize" [pageIndex]="pageIndex"

                           [length]="totalRecords"
                           aria-label="Select page of periodic elements" (page)="onPageChange($event)">
            </mat-paginator>
          </div>

      </div>
</main>